.team-section{
  text-align:center;
  background: #34495e;
  padding-bottom: 140px;
}

.border{
  display: block;
  margin:auto;
  width: 200px;
  background-color: #3498db;
  margin-bottom: 20px;
}

.memberPics{
  margin-bottom: 20px;
}

.memberPics a {
  display: inline-block;
  margin: 0 15px;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
}
.memberPics a img{
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;

}
.memberPics a:hover > img{
  filter: none;
}
.section{
  width: 600px;
  margin: auto;
  margin-bottom:  0px;
  font-size: 20px;
  color: white;
  overflow:  hidden;
}
.section:target{
  height: auto;

}

.name{
  display: block;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}
