html{
	height: 100%;
	background-color:#d4d4dc!important;
}

.Hpage {
	height: 100%;
    background-color:#d4d4dc!important;
}


.welcoming{
   position: absolute;
   font-size: 15px;
   right:5%;
   top:2%;
}

.user_authorization{
    position: absolute;
    right: 4%;
    top:5%;
}
.UsersList{
	position: absolute;
	left:10%;
	top:15%;
color:white;
}

.UsersList ol{
	font-size: 18px;
	font-weight: bold;

}