.welcoming{
   position: fixed;
   font-size: 15px;
   right:5%;
   top:3%;
   z-index: 2;
}

.user_authorization{
    position: fixed;
    right: 4%;
    top:5%;
    margin-top:5px;
    margin-right:5px;
}

.list{
	position: absolute;
	left:10%;
	top:15%;
	color:white;
	margin:25px 50px 50px 25px;
}

.list ol{
	font-size: 18px;
	font-weight: bold;
	cursor:pointer;
}

.textData{
	border-style: solid;
	color:white;
	width:500px;
}




