
.login_form {
    /* Size and position */
    width: 400px;
	height:300px;
    margin: 100px auto 30px;
    padding: 10px;
    position: relative;
	border: 20px solid rgba(78,48,67, 0.8);
	border-radius:20px;
	

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: black;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.login_form h1 {
    font-size: 30px;
    padding-bottom: 20px;
	text-align:center;
}

.login_form input[type=text],
.login_form input[type=password] {
    /* Size and position */
    
    padding: 8px 4px 8px 10px;
    margin-bottom: 20px;
	margin-left:28%;
	

    /* Styles */
    border: 2px solid #4e3043; /* Fallback */
    border: 2px solid rgba(78,48,67, 0.8);
    background: rgba(0,0,0,0.15);
    border-radius: 2px;
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	
    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
}

.login_form input::-webkit-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.login_form input:-moz-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.login_form input:-ms-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.login_form input[type=text]:hover,
.login_form input[type=password]:hover {
    border-color: #333;
}

.login_form input[type=text]:focus,
.login_form input[type=password]:focus,
.login_form input[type=submit]:focus {
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1),
        0 0 0 3px rgba(255,255,255,0.15);
    outline: none;
}

/* Fallback */
.no-boxshadow .login_form input[type=text]:focus,
.no-boxshadow .login_form input[type=password]:focus {
    outline: 1px solid white;
}
.login_form input[type=submit] {
    /* Size and position */
   
    padding:10px 20px 10px 20px;
	margin-left:38%;
	margin-top:5%;
	
    /* Styles */
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));    
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: 
    	inset 0 1px rgba(255,255,255,0.4), 
    	0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.login_form input[type=submit]:hover {
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
}

/* Fallback */
.no-boxshadow .login_form input[type=submit]:hover {
    background: #594642;
}
.login_form label {
    display: none;
    padding: 0 0 5px 2px;
    cursor: pointer;
}

.login_form label:hover ~ input {
    border-color: #333;
}

.no-placeholder .login_form label {
    display: block;
}