html {
 
    background-image: url('../pictures/car3.gif');
}

.user_authorization{
    position: absolute;
    right: 4%;
    top:5%;
}

.srvDown{
	position: absolute; 
    right:35%;
    top:20%;
}
